* {
    padding: 0px;
    margin: 0px;
}

.navbar {
    display: grid;
    grid-auto-flow: column;
    min-height: 4em;
    background-color: #4B91F0;
}

.links {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    grid-gap: 1em;
    padding-right: 6em;
    padding-top: 3em;
}

.logo>h1 {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    margin-top: -100px;
}

.links>a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.logo span h1 {
    color: white;
}