/*.navbar {
    display: grid;
    grid-auto-flow: column;
    min-height: 4em;
    background-color: #4B91F0;
}

.links {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    grid-gap: 1em;
    padding-right: 6em;
    padding-top: 3em;
    text-transform: uppercase;
}

.logo {

}

.links>a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.logo>h1 {
    color:white;
}
