
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
  height: 100%;

  padding: 0;
  margin: 0;
}
body{
  min-height: 100%;
}
.container-fluid{
  padding: 0;
  margin: 0;
   position: absolute;
  max-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.nav-bar {
    max-width: 100%;
    background-color: #4B91F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid white;
}
#nav-toggle {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 20px;
    /* transform: translate(0, -50%); */
    display: none;
}
.toggle {
    font-size: 20px;
    color: #fff;
}

.nav-logo {
    display: flex;
    align-items: center;

    padding-right: 60px;
}

#logo {
    width: 59px;
    height: 58px;
}

#nav-header {
    color: #fff;
    padding-left: 10px;
    font-size: 14px;
}

.nav-list {
    list-style-type: none;
    display: flex;
}

.nav-list-item {
    /* padding: 0 10px; */
}

.nav-list-item:nth-child(1),
.nav-list-item:nth-child(2),
.nav-list-item:nth-child(3),
.nav-list-item:nth-child(4) {
    border-right: 2px solid #fff;
}

.nav-list-link {
    display: block;
    color: #fff;
    padding: 1px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.col-form-label1{
  margin-left:-75px;
    font-size: 10px;
    outline: none;
}

.form-control{
  background-color: #ffffff;
  border: 5px solid #ffffff;
  border-radius: 30px;
  width: 75%;
  height: 46px;
  margin-left: 48%;
    font-size: 10px;
border: none;
    color:  #2D57EE ;
    font-size: 13px;


}
.form-group i{
  position: absolute;
  margin-left: 15em;
  margin-top: -30px;
  cursor: pointer;
}
.form-control1{
  background-color: #ffffff;
  border-radius: 30px;
  width: 75%;
  height: 45px;
  outline: none;
  margin-left: 48%;
  font-size: 13px;
  border: 2px solid #ffffff;
  color:  #2D57EE ;
  cursor: text;
}


#create{
  margin-left: 35%;
  font-weight: bolder;
  font-size: 14px;
}
#name{
  font-size: 14px;
}
#Email{
     font-size: 14px;
}
.center{


}

.main_container{
      position: relative;
      background: url(Rectangle\ 31.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;
      min-height: 100vh;
}
.text{
  text-align: center;
  padding-top: 40px;
}
#get_started{
  color:#ffffff;
  font-weight: 500;

}

#fast_health_text{
  color: #ffffff;
}

label{
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  margin-left: 10%;

}

.sign{
    background-color: #ffffff;
  width: 28%;
  border: 5px solid #ffffff;
  border-radius: 25px;
  color: #375FED;
  font-weight: 600;
  outline: none;
    border: none;
    margin-top: 20px;
      margin-left: 40%;

}
.col-form-label{
  font-size: 10px;
}
.sign:focus{
    background-color: #ffffff;
  width: 28%;
  border-radius: 25px;
  color: #375FED;
  font-weight: bolder;
  outline: none;
    border: none;
}



/* Footer starts here*/

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient(93.73deg, #3D63EC 0%, #2D57EE 100%);
    margin-top: -4%
}

footer .footer-item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 10px 30px;
}

footer .footer-item a {
    color: #f8f8f8;
    text-decoration: none;
    margin-right: 20px;
    font-size: 24px;
}

footer .footer-item a:hover {
    text-decoration: underline;
}




@media only screen and (max-width:720px) {
    #nav-toggle,
    .nav-bar {
        display: block;
    }
    .nav-list {
        display: none;
        margin-top: 20px;
    }
    #toggle-open {
        display: block;
    }
    #toggle-close {
        display: none;
    }
    .nav-list-item {
        padding: 0;
        border: none !important;
    }
    .nav-list-link {
        padding: 5px;
        text-transform: capitalize;
    }
    .nav-list-link:hover {
        background-color: #fff;
        color: #000;
    }
}

@media only screen and (min-width:420px){
  .form-group i{
    position: absolute;
    margin-left: 24em;
    margin-top: -30px;
    cursor: pointer;

  }




}
@media only screen and (min-width:700px) {




  .sign{
    width: 20%;
    border-radius: 25px;
    color: #375FED;
    font-weight: bolder;
    outline: none;
      border: none;

  }
  .col-form-label{
    font-size: 18px;
    position: relative;
    margin-left: 150px;
  }
  .sign:focus{
    width: 20%;
    border-radius: 25px;
    color: #375FED;
    font-weight: bolder;
    outline: none;
      border: none;
  }

.form-control1{

  background-color: #ffffff;
  border-radius: 25px;
  width: 105%;
  height: 45px;
  margin-left: -30%;
  font-size: 14px;
  outline: inherit;
  border: 1px solid #ffffff;
}
.sign{
  width: 20%;
  border-radius: 25px;
  color: #375FED;
  font-weight: 800;
  outline: none;
  border: none;
  height: 30px;
  margin-left: 130px;
}
.form-control{
  background-color: #ffffff;
  border-radius: 25px;
  width: 85%;
  height: 45px;
  margin-left: -40px;
    font-size: 14px;
}
}
@media only screen and (min-width:900px) {
  .form-group i{
    position: absolute;
    margin-left: 24em;
    margin-top: -30px;
    cursor: pointer;

  }
  .form-control1{
    background-color: #ffffff;
    border-radius: 30px;
    width: 75%;
    height: 45px;
    outline: none;
    margin-left: 48%;
    font-size: 13px;
    border: 2px solid #ffffff;
    color:  #2D57EE ;
    cursor: text;
  }


}

