
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}
html, body{
  min-height: 100%;
  min-width: 100vw;




}
body{
  height: 100vh;
  min-width: 100vw;
}
.container-fluid{
  padding: 0;
  margin: 0;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  overflow-x: hidden;
}

.main{
  background: url(Rectangle\ 32.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 overflow-x: hidden;

}

button a {
color: #ffffff;
}
button  {
margin-left: 20px;
margin-top:10px;
}
img[src="nurse.png"]{
  width: auto;
  height: auto;
  min-width:145vw;
  position: relative;
  margin-left: -90px;

  min-height: 100vh;
}

.Nurse_img{
  width: 50%;
}


.img-fluid{
  min-height: 100vh;
}

.btn{
  border: 3px solid white;
  border-radius: 20px;
  font-size: 14px;
  width: 95%;
}
.btn:hover{
  border: 3px solid white;
  border-radius: 20px;
}
button a:hover{
color: #ffffff;
text-decoration: none;
}

#fast{
  text-align: right;

}
.text {
    padding-top: 100%;
    line-height: 25px;
    text-align: center;
    align-content: center;
      font-family: Nunito;
    font-weight:bolder;
    font-size: 14px;
    color: #ffffff;
}

.nav-bar {
    max-width: 100%;
    background-color: #4B91F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid white;
}

#nav-toggle {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 20px;
    /* transform: translate(0, -50%); */

    display: none;
}

.toggle {
    font-size: 20px;
    color: #fff;
}

.nav-logo {
    display: flex;
    align-items: center;
    padding-right: 60px;
}

#logo {
    width: 59px;
    height: 58px;
}

#nav-header {
    color: #fff;
    padding-left: 10px;
    font-size: 14px;
}

.nav-list {
    list-style-type: none;
    display: flex;

}

.nav-list-item {
    /* padding: 0 10px; */
}

.nav-list-item:nth-child(1),
.nav-list-item:nth-child(2),
.nav-list-item:nth-child(3),
.nav-list-item:nth-child(4) {
    border-right: 2px solid #fff;
}

.nav-list-link {
    list-style-type: none;
    display: block;
    color: #fff;
    padding: 1px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.nav-list-link:hover {
    list-style-type: none;
    display: block;
    color:#fff;
    padding: 1px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
/* END of section navigation */
/* Footer starts here*/

footer {

    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient(93.73deg, #3D63EC 0%, #2D57EE 100%);
    margin-top: -10px
}

footer .footer-item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 10px 30px;
}

footer .footer-item a {
    color: #f8f8f8;
    text-decoration: none;
    margin-right: 20px;
    font-size: 24px;
}

footer .footer-item a:hover {
    text-decoration: underline;
}


/* Footer starts here*/

@media only screen and (max-width:768px) {
    #nav-toggle,
    .nav-bar {
        display: block;
    }
    .nav-list {
        display: none;
        margin-top: 20px;
    }
    #toggle-open {
        display: block;
    }
    #toggle-close {
        display: none;
    }
    .nav-list-item {
        padding: 0;
        border: none !important;
    }
    .nav-list-link {
        padding: 5px;
        text-transform: capitalize;
    }
    .nav-list-link:hover {
        background-color: #fff;
        color: #000;
    }


}
@media only screen and (min-width:768px) {

  .text {
    padding-top: 150px;
      font-family: Montserrat;
      font-weight:900;
      font-size: 35px;
      color: #ffffff;
      line-height: 50px;
      font-size: 40px;

  }
  button  {
width: 20%;
  margin-left: 300px;
  margin-top:15px;
  }
  .btn{
    border: 3px solid white;
    border-radius: 20px;
    font-size: 14px;
    width: 20%;

  }
  img[src="nurse.png"]{
    width: auto;
    height: auto;
    min-width: 50vw;

  }
}

